{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<header class="main-header">
  <h1>
    404
  </h1>
</header>

{{! The main content area on the homepage }}
<main class="content error" role="main">
    <article class="post">
        <p>
          只要想起一生中后悔的事
        </p>
        <p>
          梅花便落了下来
        </p>
        <p>
          比如看她游泳到河的另一岸
        </p>
        <p>
         比如登上一株松木梯子
        </p>
        <p>
          危险的事固然美丽
        </p>
        <p>
          不如看她骑马归来
        </p>
        <p>
          面颊温暖
        </p>
        <p>
          羞惭。低下头，回答着皇帝
        </p>
        <p>
          一面镜子永远等候她
        </p>
        <p>
          让她坐到镜中常坐的地方
        </p>
        <p>
          望着窗外，只要想起一生中后悔的事
        </p>
        <p>
          梅花便落满了南山
        </p>
        <br>
        <p>—— 张枣</p>

    </article>
</main>
